#munlogo_holder{height: 192px; width: 192px; margin: auto;}
#munlog_svg{height: 100%; margin: auto;}

.munlogo0{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.munlogo1{fill:#F4EB22;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.munlogo2{fill:#2A388E;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.munlogo3{fill:#F69320;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.munlogo4{fill:#E92229;}
.munlogo5{fill:#1F4493;stroke:#FFFFFF;stroke-miterlimit:10;}
.munlogo6{fill:#224192;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.munlogo7{fill:#1F4494;stroke:#D1D3D4;stroke-miterlimit:10;}
.munlogo8{fill:#FFFFFF;stroke:#1E1C1F;stroke-width:5;stroke-miterlimit:10;}
.munlogo9{fill:none;stroke:#1E1C1F;stroke-width:5;stroke-miterlimit:10;}
.munlogo10{fill:#A7BA50;}
.munlogo11{fill:#CBBE9F;}
.munlogo12{fill:#D0B169;}
.munlogo13{fill:#D8CFBD;}
.munlogo14{fill:#5E6E3B;}
.munlogo15{fill:#49312D;}
.munlogo16{fill:#A4625C;}
.munlogo17{fill:#A49263;}
.munlogo18{fill:#F8F8F7;}
.munlogo19{fill:#E7E6E5;}
.munlogo20{fill:#B9964A;}
.munlogo21{fill:#773E39;}
.munlogo22{fill:#E2A39E;}
.munlogo23{fill:#C9756C;}
.munlogo24{fill:#182C1F;}
.munlogo25{fill:#282425;}