.munMap0{fill:#E6E6E6;}
.munMap1{fill:#333333;}
.munMap2{fill:#008F85;stroke:#29ABE2;stroke-width:3;stroke-miterlimit:10;}
.munMap3{opacity:0.5;fill:#4D4D4D;stroke:#4D4D4D;stroke-width:3;stroke-miterlimit:10;}
.munMap4{fill:#4D4D4D;}
.munMap5{fill:none;stroke:#FFFFFF;stroke-width:6;stroke-miterlimit:10;}
.munMap6{fill:#C7B299;}
.munMap7{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
.munMap8{fill:#B3B3B3;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.munMap9{fill:#666666;stroke:#1A1A1A;stroke-width:3;stroke-miterlimit:10;}
.munMap10{fill:none;stroke:#1A1A1A;stroke-width:3;stroke-miterlimit:10;}
.munMap11{font-family:'TimesNewRomanPS-BoldMT';}
.munMap12{font-size:41.5108px;}
.munMap13{font-size:39.0952px;}
.munMap14{fill:#B3B3B3;stroke:#4D4D4D;stroke-width:2;stroke-miterlimit:10;}
.munMap15{fill:#C69C6D;stroke:#C69C6D;stroke-miterlimit:10;}
.munMap16{fill:#FFE6B4;}
.munMap17{fill:#1A1A1A;}
.munMap18{fill:none;stroke:#C1272D;stroke-width:5;stroke-miterlimit:10;}
.munMap19{fill:none;}
.munMap20{font-size:38.2125px;}
.munMap21{fill:none;stroke:#3F0001;stroke-miterlimit:10;}
.munMap22{font-size:29.0389px;}
.munMap23{fill:none;stroke:#3F0001;stroke-width:0.5;stroke-miterlimit:10;}
.munMap24{fill:#4D4D4D;stroke:#4D4D4D;stroke-width:3;stroke-miterlimit:10;}
.munMap25{font-size:54.864px;}
.munMap26{font-size:22.275px;}
.munMap27{font-size:41.5485px;}
.munMap28{font-size:8.313px;}
.munMap29{font-size:12.0076px;}
.munMap30{fill-rule:evenodd;clip-rule:evenodd;fill:#B3B3B3;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.munMap31{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.munMap32{font-size:13.1761px;}
.munMap33{font-size:20.2184px;}
.munMap34{fill:none;stroke:#4D4D4D;stroke-width:2;stroke-miterlimit:10;}
.munMap35{font-size:10.0076px;}
.munMap36{font-size:14.2184px;}
.munMap37{enable-background:new    ;}
.munMap38{fill:none;stroke:#29ABE2;stroke-width:3;stroke-miterlimit:10;}
.munMap39{fill:#F15A24;}
.munMap40{fill:#FFFC5F;}
.munMap41{fill:#FFFC5F;stroke:#F15A24;stroke-width:2;stroke-miterlimit:10;}
.munMap42{fill:#0000FF;}
.munMap43{fill:#3F6AFF;}
.munMap44{fill:#FF0000;}
.munMap45{fill:#FF3A35;}
.munMap46{fill:#97FF74;stroke:#3F45FF;stroke-width:3;stroke-miterlimit:10;}
.munMap47{fill:#FFFC39;}
.munMap48{fill:#3F45FF;}
.munMap49{fill:#FFFC5F;stroke:#3F45FF;stroke-width:2;stroke-miterlimit:10;}
.munMap50{fill:#E3F400;stroke:#231F20;stroke-width:3;stroke-miterlimit:10;}
.munMap51{fill:#AAEFFF;stroke:#564F51;stroke-width:2;stroke-miterlimit:10;}
.munMap52{fill:#C82227;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;}
.munMap53{fill:#009F11;}
.munMap54{fill:#003235;}
.munMap55{fill:#B40A00;}
.munMap56{fill:#FFF27F;}
.munMap57{font-size:49.1014px;}
.munMap58{opacity:0.5;}
.munMap59{fill:#29ABE2;}
.munMap60{font-size:15.3622px;}
.munMap61{opacity:0.5;fill:#29ABE2;enable-background:new    ;}
.munMap62{font-size:29.8644px;}
.munMap63{fill:#C69C6D;}
.munMap64{fill:#ED1C24;stroke:#1A1A1A;stroke-width:2;stroke-miterlimit:10;}
.munMap65{fill:#FCEE21;}
.munMap66{font-size:17.8952px;}
.munMap67{font-size:37.064px;}
.munMap68{fill:#FFF27F;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.munMap69{font-size:22.9381px;}
.munMap70{font-size:18.0129px;}
.munMap71{fill:#1F84FF;stroke:#1A1A1A;stroke-width:2;stroke-miterlimit:10;}
.munMap72{fill:#02002A;}
.munMap73{font-size:12.8898px;}
.munMap74{fill:#FFE6B4;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.munMap75{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.munMap76{font-size:17.0458px;}
.munMap77{opacity:0.5;fill-rule:evenodd;clip-rule:evenodd;fill:#29ABE2;enable-background:new    ;}
.munMap78{fill:#00AA4C;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.munMap79{font-size:16.1283px;}
.munMap80{font-size:19.8952px;}
.munMap81{fill:#00AA4C;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.munMap82{font-size:8.6151px;}
.munMap83{fill:#754C24;stroke:#333333;stroke-miterlimit:10;}
.munMap84{fill:none;stroke:#4D4D4D;stroke-width:3;stroke-miterlimit:10;}
.munMap85{font-size:15.9691px;}
.munMap86{font-size:18.8538px;}
.munMap87{stroke:#1A1A1A;stroke-width:2;stroke-miterlimit:10;}
.munMap88{font-size:18.2973px;}
.munMap89{font-size:37.9792px;}
.munMap90{font-size:11.3947px;}
.munMap91{font-size:29.143px;}
.munMap92{font-size:29.0268px;}
.munMap93{font-size:10.9211px;}
.munMap94{fill:none;stroke:#3F0001;stroke-width:0.25;stroke-miterlimit:10;}
.munMap95{fill-rule:evenodd;clip-rule:evenodd;fill:#FFF27F;}
.munMap96{font-size:23.069px;}
.munMap97{font-size:27.1183px;}
.munMap98{font-size:16.4137px;}
.munMap99{font-size:10.2531px;}
.munMap100{font-size:22.6603px;}
.munMap101{font-size:19.1712px;}
.munMap102{font-size:13.5693px;}
.munMap103{font-size:10.8475px;}
.munMap104{font-size:23.1023px;}
.munMap105{font-size:13.7116px;}
.munMap106{font-size:21.0389px;}
.munMap107{fill:#C69C6D;stroke:#1A1A1A;stroke-width:3;stroke-miterlimit:10;}
.munMap108{font-size:2.2184px;}
.munMap109{fill:none;stroke:#3F0001;stroke-width:0.1;stroke-miterlimit:10;}
.munMap110{font-size:6.2184px;}
.munMap111{fill:none;stroke:#C1272D;stroke-width:3;stroke-miterlimit:10;}
.munMap112{fill:none;stroke:#666666;stroke-width:3;stroke-miterlimit:10;}
.munMap113{font-size:5px;}
.munMap114{font-size:9.4019px;}
.munMap115{font-size:7.6519px;}
.munMap116{font-size:5.7544px;}
.munMap117{font-size:7.4019px;}
.munMap118{fill:none;stroke:#C69C6D;stroke-width:5;stroke-miterlimit:10;}
.munMap119{fill:#E4FFC9;stroke:#1A1A1A;stroke-width:3;stroke-miterlimit:10;}
.munMap120{font-size:13.8945px;}
.munMap121{font-size:8.4137px;}
.munMap122{font-size:12.4137px;}
.munMap123{fill:#E3F400;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;}
.munMap124{fill:#AAEFFF;stroke:#564F51;stroke-miterlimit:10;}
.munMap125{fill:#C82227;stroke:#231F20;stroke-miterlimit:10;}

.MainDivHolder_MunMap
{
	height:500px;
}

.allMapContent_Holder
{
	height: auto;
	margin-top: 170px;
	margin-bottom: 170px;
	animation: mapFrameOpen 1s 0.5s linear forwards;
}

@keyframes mapFrameOpen
{
	0%{
		margin-top: 170px;
		margin-bottom: 170px;
	}
	
	75%{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	90%{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	100%
	{
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

.Title_Holder
{
	min-height: 80px;
	max-height: 120px;
	background-color:  #1c1c1c;
	width: auto;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	overflow: hidden;
}
.MunicipalMap_Header
{
	font-family: 'Squada One', Arial;
	color: #8299ff;
	font-size: 30px;
	font-weight: 900;
	animation: ShadowMover 10s infinite linear;
	word-wrap: break-word;
}

.MunicipalMap_SubHeader
{
	font-family: 'Bahnschrift Condensed', Arial;
	color: #e0e6ff;
	font-size: 18px;
	font-weight: 700;
	word-wrap: break-word;
}

@keyframes ShadowMover
{
	0%
	{
		text-shadow: 0px 0px 10px red;
	}
	
	10%
	{
		text-shadow: 0px 0px 30px green;
	}
	
	20%
	{
		text-shadow: 0px 0px 10px blue;
	}
	
	30%
	{
		text-shadow: 0px 0px 30px red;
	}
	
	40%
	{
		text-shadow: 0px 0px 10px green;
	}
	
	50%
	{
		text-shadow: 0px 0px 30px blue;
	}
	
	60%
	{
		text-shadow: 0px 0px 10px red;
	}
	
	70%
	{
		text-shadow: 0px 0px 30px green;
	}
	
	80%
	{
		text-shadow: 0px 0px 10px blue;
	}
	
	90%
	{
		text-shadow: 0px 0px 30px green;
	}
	
	100%
	{
		text-shadow: 0px 0px 10px red;
	}
}

#uppperFrame
{
	height: 20px;
	background-color: #2b3440;
	border: solid 2px #1c1c1c;
	border-bottom: none;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#lowerFrame
{
	height: 20px;
	background-color: #2b3440;
	border: solid 2px #1c1c1c;
	border-bottom: none;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.MunMap_Holder
{
	border: solid 2px #1c1c1c;
	border-bottom: none;
	border-top: none;
	animation: MunMapOpen_Animate 1s 0.5s linear forwards;
}

@keyframes MunMapOpen_Animate
{
	0%{
		height: 0px;
	}
	
	75%{
		height: 340px;
	}
	
	90%{
		height: 330px;;
	}
	
	100%
	{
		height: 340px;;
	}
}

.MunMap_Holder > div
{
	opacity: 0;
	position: absolute;
	animation: MunMapDisplay_Animate 0.5s linear forwards;
	animation-delay: 1.75s;
}

@keyframes MunMapDisplay_Animate
{
	0%{
		opacity: 0;
		position: absolute;
	}
	
	25%
	{	
		opacity: 0;
		position: relative;
	}
	
	100%{
		opacity: 1;
		position: relative;
	}
}

.allMunicipalMap_contentHolder
{
	position: relative;
	height: 340px;
}

.MapofOfficesButton
{
	height: 40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: solid;
	border-width: 2px;
	border-color: #3b3a3a;
	text-align: center;
	color: white;
	margin-bottom: 5px;
	outline: none;
	position: absolute;
	top: 0%;
	left: 0%;
}

button#ZoomInMap
{
	background: #0d043b;
	width: 40px;
	margin-top: 5px;
	font-size: 25px;
	left: 5px;
}

button#ZoomDefaultMap
{
	width: 120px;
	margin-top: 5px;
	background: #262626;
	font-size: 12px;
	left: 55px;
}

button#ZoomOutMap
{
	width: 40px;
	margin-top: 5px;
	background: #4a0000;
	font-size: 25px;
	left: 185px;
}

button#ZoomInMap:hover
{
	background: #5d58f5;
	border-color: #141414;
	color: black;
	cursor: zoom-in;
}

button#ZoomDefaultMap:hover
{
	background: #e2e2e2;
	font-weight: 900;
	border-color: #141414;
	color: black;
	cursor: pointer;
}

button#ZoomOutMap:hover
{
	background: #b53e3e;
	border-color: #141414;
	color: black;
	cursor: zoom-out;
}

.svg_holder
{
	height: 340px;
	overflow: hidden;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#municipalMap_svg
{
	height: 340px;
	width: auto;
	display: block;
	position: relative;
	cursor: grab;
	margin: auto;
	padding: auto;
	touch-action: none;
}

#municipalMap_svg:hover
{
	cursor: grab;
}

#municipalMap_svg:active
{
	cursor: grabbing;
}

#munMap_ground
{
	z-index: 1;
}

.office_boundary
{
	opacity: 0;
}

.office_boundary:hover
{
	cursor: pointer;
	opacity: 0.75;
}

.up
{
	cursor: pointer;
}

.up * rect
{
	transition: fill 0.5s ease-in-out;
	fill: #1F84FF;
}

.up:hover * rect
{
	transition: fill 0.5s ease-in-out;
	fill: #4fff75;
}

.down
{
	cursor: pointer;
}

.down * rect
{
	transition: fill 0.5s ease-in-out;
	fill: #ED1C24;
}

.down:hover * rect
{
	transition: fill 0.5s ease-in-out;
	fill: #ba8b45;
}

#sb_2nd, #executive_2nd, #executive_3rd, #peopleBldg_2nd, #peopleBldg_3rd
{
	display: none;
}

#sb1st_Trigger, #sb2nd_Trigger, #executive1st_trigger, 
#executive2nd_trigger, #executive3rd_trigger,
#peopleBldg1st_trigger, #peopleBldg2nd_trigger, #peopleBldg3rd_trigger
{
	transition: fill 0.5s;
}

rect.multifloor_fog
{
	fill: #4a4a4a;
	opacity: 0;
}